/* @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;400;500&family=Caveat:wght@100;400&family=Pacifico&family=Permanent+Marker&family=Rock+Salt&family=Homemade+Apple&family=Shadows+Into+Light&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

video {
  image-rendering: crisp-edges;
  transform: translateZ(0);

  image-rendering: pixelated;


}
